@font-face {
  font-family: "FC Lamoon";
  src: url(/fonts/FCLamoonLight.woff2?482102e15c6a3fd0fad821ac51e5582d) format("woff2"), url(/fonts/FCLamoonLight.woff?a314e5cfd4d02d9dc8fc28c6ee97486e) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FC Lamoon";
  src: url(/fonts/FCLamoonRegular.woff2?75ff2cdb7427015b9fce662681c6bb4e) format("woff2"), url(/fonts/FCLamoonRegular.woff?59856613f80522cf272e797e6910abf7) format("woff");
  font-weight: normal;
  font-style: normal;
}

a.deactive-link {
  color: black;
}

.actions {
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.actions .fa {
  margin-left: 2px;
}

.actions .fa-eye {
  color: #348fe2;
}

.actions .fa-edit {
  color: #00acac;
}

.actions .fa-undo {
  color: #348fe2;
}

.actions .fa-trash-alt {
  color: #ff5b57;
}

.chatbox {
  background-color: rgba(255, 255, 255, 0.719);
  border: #9e9e9e solid 1px;
  border-radius: 5px;
  padding: 8px;
  min-height: 423px;
}

@media only screen and (max-width: 990px) {
  .chatbox {
    margin-top: 8px;
  }
}

.chatbox .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  clear: both;
  padding-bottom: 5px;
}

.chatbox .message .user-name {
  color: #bdbdbd;
}

.chatbox .message .user-name-teacher {
  color: #00acac;
}

.chatbox .message .text {
  color: #2c2c2c;
}

.chatbox .message div {
  float: left;
}

.chatbox .message .time {
  margin-left: auto;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 300;
}

.chatbox .input {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.chatbox .input .form-control {
  border-radius: 0px 0px 4px 4px;
  border: #9e9e9e solid 1px;
}

.menu-box {
  width: 145px;
  height: 145px;
  background: #fff;
  border-radius: 24px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0099ff), to(#0066ff));
  background-image: linear-gradient(to bottom right, #0099ff, #0066ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-box .fa,
.menu-box .fas {
  font-size: 7em;
}

.menu-box i {
  color: white;
}

.btn-left {
  text-align: left;
}

.curriculum {
  margin-top: 10px;
}

.curriculum > li {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #06f;
}

.item-video > img {
  min-width: 100%;
}

.item-video {
  max-width: 100%;
}

.item-video:after,
.item-video:before {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.item-video:after {
  content: "\A";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.item-video:before {
  content: "\F144";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 40px;
  color: white;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item-video:hover:after,
.item-video:hover:before {
  opacity: 1;
}

.product-image {
  padding: 20px;
}

.table .group {
  font-weight: bold;
}

.vue-input-tag-wrapper {
  -webkit-appearance: none !important;
}

.vue-input-tag-wrapper .input-tag {
  font-size: 10px !important;
}

