@font-face {
    font-family: "FC Lamoon";
    src: url("../fonts/FCLamoonLight.woff2") format("woff2"),
        url("../fonts/FCLamoonLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "FC Lamoon";
    src: url("../fonts/FCLamoonRegular.woff2") format("woff2"),
        url("../fonts/FCLamoonRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.actions {
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    .fa {
        margin-left: 2px;
    }
    .fa-edit {
        color: #00acac;
    }
    .fa-undo {
        color: #348fe2;
    }
    .fa-trash-alt {
        color: #ff5b57;
    }
}

.chatbox {
    @media only screen and (max-width: 990px) {
        margin-top: 8px;
    }
    background-color: hsla(0, 0%, 100%, 0.719);
    border: #9E9E9E solid 1px;
    border-radius: 5px;
	padding: 8px;
    min-height: 423px;
	.message {
        display: flex;
        align-items: center;
		clear:both;
        padding-bottom: 5px;
        .user-name {
            color: #BDBDBD;
        }
        .user-name-teacher {
            color: #00acac;
        }
        .text {
            color: rgb(44, 44, 44);
        }
		div {
			float: left;
		}
		.time {
            margin-left: auto;
			color: #BDBDBD;
            font-size: 16px;
            font-weight: 300;
		}
	}
	.input {
		width: 100%;
		padding: 0 10px;
		position: absolute;
		bottom: 0;
        left: 0;
		.form-control {
            border-radius: 0px 0px 4px 4px;
            border: #9E9E9E solid 1px;
		}
	}
}

.menu-box {
    width: 145px;
    height: 145px;
    background: #fff;
    border-radius: 24px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #0099ff, #0066ff);
    display: flex;
    justify-content: center;
    align-items: center;
    .fa,
    .fas {
        font-size: 7em;
    }
    i {
        color: white;
    }
}
